# ====================================================================
# СИСТЕМНЕ СМІТТЯ ТА ТИМЧАСОВІ ФАЙЛИ ОПЕРАЦІЙНИХ СИСТЕМ
# ====================================================================
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini
ehthumbs.db

# ====================================================================
# КЕШ, НАЛАШТУВАННЯ ТА ЛОГИ СЕРЕДОВИЩ РОЗРОБКИ (IDE / РЕДАКТОРІВ)
# ====================================================================
.idea/
.vscode/
*.swp
*.swo
*.suo
*.sln
*.user
.history/
.ipynb_checkpoints/

# ====================================================================
# КЕШ PYTHON, ТЕКИ ЗБІРКИ ТА ВІРТУАЛЬНІ СЕРЕДОВИЩА (ІЗОЛЯЦІЯ ПАКЕТІВ)
# ====================================================================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.pdm/
venv/
.venv/
env/
.env/

# ====================================================================
# ДИНАМІЧНІ ДАНІ, ВЕЛИКІ ДАТАСЕТИ ТА ЛОГИ КОДУ (ЗАЛИШАЮТЬСЯ ЛОКАЛЬНО)
# ====================================================================
*.log
vhi_data/
household_power_consumption.txt
*.csv
*.txt
*.json
